
<div class=" hidden-xs hidden-sm hidden-md col-lg-2 col-lg-offset-10 Panier">
    <div id="FirstBar">
        <div>
            <button id="BoutonBar"></button> <h3 id="MotsBar" >News1</h3>
        </div>
        <div>
            <button id="BoutonBar"></button> <h3 id="MotsBar" >News1</h3>
        </div>
        <div>
            <button id="BoutonBar"></button> <h3 id="MotsBar" >News1</h3>
        </div>
        <div>
            <button type="button" class="btn btn-link " id="AllNews">Voir toutes les news</button>
        </div>
    </div>

    <div id="SecondBar">
        <div class="ImgBar">
            <img src="{{ asset('img/facebook.png') }}">
        </div>
        <div class="ImgBar">
            <img src="{{ asset('img/twitter.png') }}">
        </div>
        <div class="ImgBar">
            <img src="{{ asset('img/google.png') }}">
        </div>
        <div class="ImgBar">
            <img src="{{ asset('img/email.png') }}">
        </div>
    </div>

    <div id="ThirdBar">
        <div class="ImgBar">
            <img src="{{ asset('img/facebook.png') }}">
        </div>
        <div class="ImgBar">
            <img src="{{ asset('img/twitter.png') }}">
        </div>
        <div class="ImgBar">
            <img src="{{ asset('img/google.png') }}">
        </div>
        <div class="ImgBar">
            <img src="{{ asset('img/email.png') }}">
        </div>
    </div>
</div>
<div class="push"></div>
