<div id="ThirdBar">
    <!-- Facebook -->
    <div class="ImgBar">
    <a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" target="_blank">
        <img class="dropdown-item" src="{{ asset('img/facebook.png') }}" alt="Facebook" />
    </a>
    </div>
    <!-- Twitter -->
    <div class="ImgBar">
    <a href="https://twitter.com/share?url={{ app.request.uri }}&amp;text=Porteur%20de%20Lumière&amp;hashtags=porteurdelumiere" target="_blank">
        <img class="dropdown-item" src="{{ asset('img/twitter.png') }}" alt="Twitter" />
    </a>
    </div>

    <div class="ImgBar">
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{ app.request.uri }}" target="_blank">
        <img class="dropdown-item" src="{{ asset('img/google.png') }}" alt="Google" />
    </a>
    </div>

    <div class="ImgBar">
    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ app.request.uri }}">
        <img class="dropdown-item" src="{{ asset('img/email.png') }}" alt="Email" />
    </a>
    </div>
</div>