{% extends "::layout/layout.html.twig" %}
{% block body %}



<div class="Recherche col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="hidden-xs col-sm-offset-3 col-sm-5 col-md-offset-4 col-md-3 col-lg-offset-4 col-lg-3" style="margin-top: 0px; margin-bottom: 0px;">Recherche :</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Trier par</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="margin: 0px; padding: 0px;">

            <li><button class="search DonatePast" value="fa fa fa-university fa-2x fa-inverse">Conférence</button></li>
            <li><button class="search DonatePast" value="fa fa-calendar-check-o fa-2x fa-inverse">Evenement</button></li>
            <li><button class="search DonatePast" value="fa fa-newspaper-o fa-2x fa-inverse">Presse</button></li>
            <li><button class="search DonatePast" value="all">All</button></li>

        </ul>
    </div>
</div>

<div class="AllActualite col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10">
<div class="boucle">
{% for actu in actus %}
    <div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="triangle"></div>
        <i class="{{ actu.type }} logoActualite" aria-hidden="true"></i>
        <div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img  class ="ActualiteImage" src="{{ asset(actu.media.path) }}" alt="imgActu">
            <h4 class="TitreActualite">{{ actu.titre }}</h4>
            <p class="ParActualite">Par : <span style="color: #009de0">{{ actu.auteur }}</span></p>
            <p class="DescriptionActualite">{{ actu.description[:250]|raw }}...
                <br>
            <p class="PlusAcutalite {{ actu.id }}">Plus... ></p>
        </div>
    </div>

    {#<!-- Modal -->                                                          aria-labelledby="exampleModalLabel"#}
    <div class="modal fade" id="{{ actu.id }}" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="ImageActionModal hidden-xs">
                <img class="ImageHautActionModal" src="{{ asset(actu.media.path) }}" alt="imgActu">
            </div>
            <div class="modal-content">
                <div class="modal-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="Titre TitreModal"><span>{{ actu.titre }}</span></h3>
                </div>
                <div class="modal-body TextModalHomepage">
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
                        <h2 class="parallax-titleModalActu text-left" style="padding-bottom: 10px; padding-left: 20%; margin: 0px; color: #333;">Description du projet :</h2>
                    </div>
                    <div>
                        <div style="text-align: left; margin-left: 20%; margin-right: 20%;"">
                            <p>{{ actu.description|raw }}</p>
                        </div>
                    </div>
                    {% if not actu.lien is null %}
                        lien vers la news : <a href="{{ actu.lien }}" style="color : blue;">{{ actu.lien }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- !Modal! -->



{% endfor %}

</div>




</div>
    {% block javascripts %}
        <script type="text/javascript">
            $(function(){
                $('.search').on('click', function()
                {
                    var comment = $(this).val();
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ path('searchActu') }}",
                        cache: false,
                        data: { text: comment},
                        success:function(response){
                            $('.boucle').replaceWith(response.classifiedList);
                        },
                        error:function(response){
                            console.log(response);
                        }
                    });
                });
            });

        </script>
        {% for actu in actus %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $(".{{ actu.id }}").click(function(){
                        $("#{{ actu.id }}").modal('show');
                    });
                });
            </script>
        {% endfor %}

    {% endblock %}

{% endblock %}