{% extends "::layout/layout.html.twig" %}




{% block body %}



<div class="Recherche col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="hidden-xs col-sm-offset-3 col-sm-5 col-md-offset-4 col-md-3 col-lg-offset-4 col-lg-3" style="margin-top: 0px; margin-bottom: 0px;">Recherche :</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Trier par</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="ActuBouton" ><a href="#">Conférence</a></li>
            <li class="ActuBouton" ><a href="#">Evenement</a></li>
            <li class="ActuBouton" ><a href="#">Presse</a></li>
        </ul>
    </div>
</div>

<div class="AllActualite col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10">

{% for actu in actus %}
    <div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="triangle"></div>
        <i class="{{ actu.type }} logoActualite" aria-hidden="true"></i>
        <div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img  class ="ActualiteImage" src="{{ asset(actu.media.path) }}">
            <h4 class="TitreActualite">{{ actu.titre }}</h4>
            <p class="ParActualite">Par : <span style="color: #009de0">{{ actu.auteur }}<span></span></p>
            <p class="DescriptionActualite">{{ actu.description[:300] }}
                <br>
            <p class="PlusAcutalite">Plus... ></p>
            </p>
        </div>
    </div>
{% endfor %}

{% endblock %}