{% extends "::layout/layout.html.twig" %}
{% block body %}



<div class="Recherche col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="hidden-xs col-sm-offset-3 col-sm-5 col-md-offset-4 col-md-3 col-lg-offset-4 col-lg-3" style="margin-top: 0px; margin-bottom: 0px;">Recherche :</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Trier par</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><button class="search" value="fa fa fa-university fa-2x fa-inverse">Conférence</button></li>
            <li><button class="search" value="fa fa-calendar-check-o fa-2x fa-inverse">Evenement</button></li>
            <li><button class="search" value="fa fa-newspaper-o fa-2x fa-inverse">Presse</button></li>
        </ul>
    </div>
</div>

<div class="AllActualite col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10">
<div class="boucle">
{% for actu in actus %}
    <div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="triangle"></div>
        <i class="{{ actu.type }} logoActualite" aria-hidden="true"></i>
        <div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img  class ="ActualiteImage" src="{{ asset(actu.media.path) }}">
            <h4 class="TitreActualite">{{ actu.titre }}</h4>
            <p class="ParActualite">Par : <span style="color: #009de0">{{ actu.auteur }}</span></p>
            <p class="DescriptionActualite">{{ actu.description[:300] }}
                <br>
            <p class="PlusAcutalite">Plus... ></p>
            </p>
        </div>
    </div>
{% endfor %}
</div>
    {#<div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
        {#<div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
            {#<img  class ="ActualiteImage" src="{{ asset("img/charity.jpg") }}">#}
            {#<h4 class="TitreActualite">Une actualité de qualité</h4>#}
            {#<p class="ParActualite">Par : <span style="color: #009de0">Le Monde<span></span></p>#}
            {#<p class="DescriptionActualite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus pharetr#}
                {#a lorem, non volutpat augue egestas sed. Donec at purus eros. Integer eu pretium leo. Duis consequat diam#}
                {#ec leo commodo lacinia. Nunc rhoncus, arcu at euismod suscipi..#}
                {#<br>#}
            {#<p class="PlusAcutalite">Plus... ></p>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}

    {#<div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
        {#<div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
            {#<img  class ="ActualiteImage" src="{{ asset("img/etudiantGroupe.png") }}">#}
            {#<h4 class="TitreActualite">Une actualité de qualité</h4>#}
            {#<p class="ParActualite">Par : <span style="color: #009de0">Le Monde<span></span></p>#}
            {#<p class="DescriptionActualite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus pharetr#}
                {#a lorem, non volutpat augue egestas sed. Donec at purus eros. Integer eu pretium leo. Duis consequat diam#}
                {#ec leo commodo lacinia. Nunc rhoncus, arcu at euismod suscipi..#}
                {#<br>#}
            {#<p class="PlusAcutalite">Plus... ></p>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}

    {#<div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
        {#<div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
            {#<img  class ="ActualiteImage" src="{{ asset("img/Histoire.jpg") }}">#}
            {#<h4 class="TitreActualite">Une actualité de qualité</h4>#}
            {#<p class="ParActualite">Par : <span style="color: #009de0">Le Monde<span></span></p>#}
            {#<p class="DescriptionActualite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras finibus pharetr#}
                {#a lorem, non volutpat augue egestas sed. Donec at purus eros. Integer eu pretium leo. Duis consequat diam#}
                {#ec leo commodo lacinia. Nunc rhoncus, arcu at euismod suscipi..#}
                {#<br>#}
            {#<p class="PlusAcutalite">Plus... ></p>#}
            {#</p>#}
        {#</div>#}
    {#</div>#}

{#</div>#}
</div>
    {% block javascripts %}
        <script type="text/javascript">
            $(function(){
                $('.search').on('click', function()
                {
                    var comment = $(this).val();
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ path('searchActu') }}",
                        cache: false,
                        data: { text: comment},
                        success:function(response){
                            $('.boucle').replaceWith(response.classifiedList);
                        },
                        error:function(response){
                            console.log(response);
                        }
                    });
                });
            });

        </script>
    {% endblock %}
{% endblock %}