{% extends "::layout/layout.html.twig" %}
{% block body %}

    {#<div class="container white col-lg-12 padder-t2 DivTitre">#}
        {#<h2 class="LigneTitre Titre"><span class="LigneSpan">Don</span></h2>#}
    {#</div>#}

    {#{% for don in dons %}#}
        {#<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Don">#}
            {#<div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 DescriptionDon">#}
                {#<p>{{ don.description|raw }}</p>#}
            {#</div>#}
        {#</section>#}
    {#{% endfor %}#}


    <div class="pane-content">
        <div style="display:block; width:100%; padding:200px 0 0; margin:0 auto; font-family:Arial; font-size:0.8rem; color:#333333; background-image:url({{ asset(don.media.path) }}); background-repeat:no-repeat; background-position:50% 0; box-sizing:border-box;">
            <div style="width:100%; margin:0; padding:0; box-sizing:border-box;">
                <div style="width:70%; min-width:700px; margin:0 auto; padding:13px 0; background-image:url('https://www.unicef.fr/sites/default/files/whitebg.png'); background-repeat:no-repeat; background-position:50% 0; border-top-left-radius:7px; border-top-right-radius:7px; box-sizing:border-box;">&nbsp;
                </div>
                <div class="hidden-xs" style=" font-size: medium; width:70%; min-width:700px; margin:0 auto; padding-top:20px; padding-bottom:20px; background-color:#ffffff; box-sizing:border-box;">
                    <div class="col-xs-12">
                        <h2 class="col-xs-12" style="text-align: center; font-size: 35px;">{{ don.nom }}</h2>
                    </div>

                    <section  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Payment">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-8 DivDon">
                                    <i class="fa fa-university fa-5x col-sm-3 " aria-hidden="true"></i>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-offset-1 col-lg-9">
                                <p class="NomDon">{{ crowdfounding.nom }}</p>
                                <p style="font-size: medium; color: #333; font-family: Verdana; text-align: left;">{{ crowdfounding.description|raw }}</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-8 DivDon">
                                    <i class="fa fa-credit-card-alt fa-5x col-sm-3 " aria-hidden="true"></i>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-offset-1 col-lg-9">
                                <p class="NomDon">{{ virement.nom }}</p>
                                <p style="font-size: medium; color: #333; font-family: Verdana; text-align: left;">{{ virement.description|raw }}</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-8 DivDon">
                                    <i class="fa fa-list-alt fa-5x col-sm-3 " aria-hidden="true"></i>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-offset-1 col-lg-9">
                                <p class="NomDon">{{ cheque.nom }}</p>
                                <p style="font-size: medium; color: #333; font-family: Verdana; text-align: left;">{{ cheque.description|raw }}</p>
                            </div>
                        </div>

                        {#</div>#}

                    </section>
                    {#<div>#}
                        {#<p style="text-align: center; font-size: x-large;">{{ don.description }}</p>#}
                    {#</div>#}

                </div>


                <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin:0 auto; padding-top:20px; padding-bottom:20px; background-color:#ffffff; box-sizing:border-box;">
                    <div class="col-xs-12">
                        <h2 class="col-xs-12" style="text-align: center; font-size: 35px;">{{ don.nom }}</h2>
                    </div>

                    <section  class="col-xs-12 Payment">

                        <div class="col-xs-12 DivDon">
                            <div class="col-xs-12 DivFontawsome">
                                <i class="fa fa-university fa-5x col-xs-4 " aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-12">
                                <p class="NomDon">{{ crowdfounding.nom }}</p>
                                <p style="font-size: medium; color: #333; font-family: Verdana; text-align: left;">{{ crowdfounding.description|raw }}</p>
                            </div>
                        </div>

                        <div class="col-xs-12 DivDon">
                            <div class="col-xs-12 DivFontawsome">
                                <i class="fa fa-credit-card-alt fa-5x col-xs-4 " aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-12">
                                <p class="NomDon">{{ virement.nom }}</p>
                                <p style="font-size: medium; color: #333; font-family: Verdana; text-align: left;">{{ virement.description|raw }}</p>
                            </div>
                        </div>

                        <div class="col-xs-12 DivDon">
                            <div class="col-xs-12 DivFontawsome">
                                <i class="fa fa-list-alt fa-5x col-xs-4 " aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-12">
                                <p class="NomDon">{{ cheque.nom }}</p>
                                <p style="font-size: medium; color: #333; font-family: Verdana; text-align: left;">{{ cheque.description|raw }}</p>
                            </div>
                        </div>


                    </section>
                </div>



            </div>
        </div>
    </div>





{% endblock %}