{% extends "::layout/layout.html.twig" %}
{% block body %}
    <div id="DivTitreContact" class="container white col-lg-12 padder-t2">
        <h2 id="TitreContact" class="LigneTitre"><span class="LigneSpan">Galerie</span></h2>
    </div>
<div id="Media" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 BarreRechercheGalerie">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                        <span id="search_concept ">Filtrer par</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#contains">Contains</a></li>
                        <li><a href="#its_equal">It's equal</a></li>
                        <li><a href="#greather_than">Greather than ></a></li>
                        <li><a href="#less_than">Less than < </a></li>
                        <li class="divider"></li>
                        <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Recherche...">
                <span class="input-group-btn">
                    <button class="btn btn-default search" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
<div class="boucle">
    {% for media in medias %}
        <!-- Modal -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 DivImgMedia ">
            <div id="ImgMedia" class="text{{ loop.index }} test">
                {#<div class="text{{ loop.index }}">#}
                     <img id="ImgMedia" src="{{ asset(media.path) }}">
                {#</div>#}
            </div>

            <div class="modal fade " id="{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div class="modalTextHomepage"><span aria-hidden="true">    <i class="fa fa-arrow-left" aria-hidden="true"></i>     Retour</span></div>
                </button>
                <div class="modal-dialog" role="document">

                    <div class="modal-content modalMedia">
                        <div class="modal-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 id="TitreContact" class="LigneTitre"><span class="LigneSpan">Image </span></h3>
                        </div>
                        <div style="margin-top: 19.5%;"></div>
                        <div class="modal-body TextModalHomepage">
                            <img id="ImgModalMedia" src="{{ asset(media.path) }}">
                        </div>
                    </div>
                </div>
            </div>
        {% block javascripts %}
    {% for media in medias %}
        <script type="text/javascript">
            $(document).ready(function(){
                $(".text{{ loop.index }}").click(function(){
                    $("#{{ loop.index }}").modal('show');
                });
            });
        </script>
    {% endfor %}
            {#<script src="{{ asset ('js/Media.js') }}"></script>#}
            <script type="text/javascript">
                $(function(){
                    $('.search').on('click', function()
                    {
                            var comment = $('.form-control').val();        // get la valeur du champ
                            $.ajax({
                                type: "GET",
                                dataType: "json",
                                url: "{{ path('searchMedia') }}",
                                cache: false,
                                data: { text: comment},
                                success:function(response){
                                    $('.boucle').replaceWith(response.classifiedList);
                                },
                                error:function(response){
                                    console.log(response);
                                }
                            });
                    });
                });

            </script>
        {% endblock %}
        </div>
    {% endfor %}
</div>


{% endblock %}