{% extends "::layout/layout.html.twig" %}

{% block body %}
    <h1>Carousels list</h1>
        {% for carousel in carousels %}
            <div class="col-10 col-sm-10 col-md-3 col-lg-2 padder-t2">
                <div class="art-height">
                    <div class="top-article beige">
                        <a href="{{ path('admin_carousel_show', { 'id': carousel.id }) }}"><img class="d-block img-fluid" src="{{ asset(carousel.media.path) }}"style="width: 300px; height: 200px"></a>
                        <div class="col-lg-12 beige padder-b2">
                           <h2 class="padder-t2">{{ carousel.ordre }}</h2>
                        </div>
                    </div>
                    <div class="row col-lg-10">
                        <div class="col-lg-10 footer">
                            <a href="{{ path('admin_carousel_edit', { 'id': carousel.id }) }}"><h4 class="col-lg-12 padder-t2 padder-b2"><i class="fa fa-chevron-right small" aria-hidden="true"></i>Edit</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    <ul>
        <li>
            <a href="{{ path('admin_carousel_new') }}">Create a new carousel</a>
        </li>
    </ul>
{% endblock %}
