{% extends "::layout/layout.html.twig" %}

{% block body %}
    <h1>Carousel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carousel.id }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ carousel.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_carousel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_carousel_edit', { 'id': carousel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
