<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WebStage{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
</head>
<body>
    <div id="container">
        <!--        Header      -->
        <header class="color-nav-perso">
            <!--        Image et Menu header      -->
            <a class="hidden-xs col-sm-offset-1 col-sm-1  col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1 DivImgHeader" href="{{ path("accueil") }}" >
                <img alt="Logo" src="{{ asset('img/logo.jpg') }}"  class="imgheader">
            </a>
            <a class="hidden-xs col-sm-offset-1 col-sm-1 col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1 DivImgHeader2" href="{{ path("accueil") }}" >
                <img alt="Logo" src="{{ asset('img/logoneg.png') }}"  class="imgheader2">
            </a>

            <a class="col-xs-offset-1 col-xs-1 hidden-sm hidden-md hidden-lg DivImgHeader3" href="{{ path("accueil") }}" >
                <img alt="Logo" src="{{ asset('img/logoneg.png') }}"  class="imgheader3">
            </a>


            <nav class="hidden-xs hidden-sm col-md-offset-2 col-lg-offset-4 col-md-9 col-lg-7" id="DivHeader" style="white-space: nowrap;">
                <ul class="nav navbar-nav navbar" id="NavbarHeader">
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('description') }}">Qui sommes nous ?</a></li>
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('actualite') }}">Actualités</a></li>
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('past') }}">Projets réalisés </a></li>
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('actual') }}">Actions en cours</a></li>
                    <li class="HeaderDivMot"><a class="FaireDon" href="{{ path('don') }}">Faire un don</a></li>
                </ul>
            </nav>
            <!--        !Image et Menu header!      -->

            <!--        Bouton menu smartphone      -->
            <div class="col-xs-offset-8 col-xs-1 col-sm-offset-11 col-sm-1 hidden-md hidden-lg" style=" z-index: 2;">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li><a href="{{ path('description') }}">Qui sommes nous ?</a></li>
                        <li><a href="{{ path('actualite') }}">Actualités</a></li>
                        <li><a href="{{ path('past') }}">Projets réalisés</a></li>
                        <li><a href="{{ path('actual') }}">Actions en cours</a></li>
                        <li><a href="{{ path('don') }}">Faire un don</a></li>
                    </ul>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
            </div>
            <!--        !Bouton menu smartphone!      -->

        </header>
        <!--        !header!      -->
        <div class="push"></div>        <!--        Push pour que le header ne cache rien      -->

    {% block body %}{% endblock %}      <!--       Block du contenu de la page       -->

        <div style="clear: both;"></div>        <!--       Clear       -->
    </div>
    <!--        Footer      -->
    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
        <div id="Droits" class="hidden-xs col-sm-6 col-md-6 col-lg-6">Tous droits réservé - Porteurs de lumière &copy; 2017</div>
        <div id="Mentions" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a class="footerContact" href="{{ path('contact') }}">Nous Contacter</a>|<a class="footerMention" href="{{ path('mention') }}">Mentions légales </a> </div>
    </footer>
<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset ('js/tether.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/MultiCaroussel.js') }}"></script>
<script src="{{ asset ('js/parallax.js') }}"></script>
<script>
    $(function() {
//            var header = $(".color-nav-perso");
//                        var colora = $(".color-a");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 300) {
                $(".color-nav-perso").css('height', '60px');
                $(".DivImgHeader").css({
                    "height": "125px",
                    "width": "108px"
                });
                $(".imgheader3").css({
                    "width": "48",
                    "height": "38px"
                });
                $(".DivImgHeader2").show();
                $(".DivImgHeader").hide();
//                $(".DivImgHeader3").hide();
                $("#DivHeader").css('margin-left', '25%');


            } else {

                $(".color-nav-perso").css('height', '80px');
                $(".DivImgHeader").css({
                    "height": "150px",
                    "width": "130px"
                });
                $(".imgheader3").css({
                    "width": "75px",
                    "height": "60px"
                });
                $(".push").css('height', '80px');
                $(".DivImgHeader2").hide();
                $(".DivImgHeader").show();
//                $(".DivImgHeader3").show();
                $("#DivHeader").css('margin-left', '41.6%');
            }
        });
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>