<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WebStage{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {#<link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />#}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header>
        <a href="{{ path("accueil") }}">
        <img src="{{ asset('img/logo.png') }}" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="imgheader">
        <h1 class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Porteur de lumière</h1>
        </a>
        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-6 col-sm-6 col-md-6 col-lg-6" id="DivHeader">
            <ul class="nav navbar-nav">
                <!--  <li class="active"><a href="#">Home</a></li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Qui sommes nous ?
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('origines') }}">Nos origines </a></li>
                        <li><a href="{{ path('lieu') }}">Ou agissons nous ?</a></li>
                        <li><a href="{{ path('objectif') }}">Dans quel but ?</a></li>
                        <li><a href="{{ path('equipe') }}">Notre équipes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos actions
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path("past") }}">Réalisé</a></li>
                        <li><a href="{{ path("actual") }}">En cours</a></li>
                        <li><a href="{{ path("future") }}">Future</a></li>
                    </ul>
                </li>
                <li><a href="{{ path("galeries") }}">Galeries</a></li>
                <li><a href="{{ path('don') }}">Faire un dons</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Langue
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Anglais</a></li>
                        <li><a href="#">Français</a></li>
                        <li><a href="#">Allemand</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="push"></div>

{% block body %}{% endblock %}

    <div style="position: fixed;" class=" hidden-xs col-sm-2 col-md-2 col-lg-2 col-xs-offset-10 col-sm-offset-10 col-lg-offset-10 col-lg-offset-10 Panier">
        <div id="FirstBar">
            <div>
                <button id="BoutonBar"></button> <h3 id="MotsBar" >News1</h3>
            </div>
            <div>
                <button id="BoutonBar"></button> <h3 id="MotsBar" >News1</h3>
            </div>
            <div>
                <button id="BoutonBar"></button> <h3 id="MotsBar" >News1</h3>
            </div>
            <div>
                <p id="BoutonNewsBar">Voir toutes les news</p>
            </div>
        </div>

        <div id="SecondBar">
            <div class="ImgBar">
                <img src="{{ asset('img/facebook.png') }}">
            </div>
            <div class="ImgBar">
                <img src="{{ asset('img/twitter.png') }}">
            </div>
            <div class="ImgBar">
                <img src="{{ asset('img/google.png') }}">
            </div>
            <div class="ImgBar">
                <img src="{{ asset('img/email.png') }}">
            </div>
        </div>

        <div id="ThirdBar">
            <div class="ImgBar">
                <img src="{{ asset('img/facebook.png') }}">
            </div>
            <div class="ImgBar">
                <img src="{{ asset('img/twitter.png') }}">
            </div>
            <div class="ImgBar">
                <img src="{{ asset('img/google.png') }}">
            </div>
            <div class="ImgBar">
                <img src="{{ asset('img/email.png') }}">
            </div>
        </div>
    </div>
    </div>

    <div class="pushf"></div>
    <footer>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Tous droits réservé - Porteurs de lumière &copy 2017,	Association à but non lucrative</div>
        <a href="link" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><p id="Mentions">Mentions légales</p></a>
    </footer>

<!----------- Footer ------------>
<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('js/tether.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>