<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WebStage{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
</head>
<body>
    <div id="container">
        <!--        Header      -->
        <header>
            <!--        Bouton menu smartphone      -->
            <div class="col-xs-1 col-sm-1 hidden-md hidden-lg" style=" z-index: 2;">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Qui sommes nous ?
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('origines') }}">Nos origines </a></li>
                            <li><a href="{{ path('lieu') }}">Ou agissons nous ?</a></li>
                            <li><a href="{{ path('objectif') }}">Dans quel but ?</a></li>
                            <li><a href="{{ path('membres') }}">Notre équipes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos actions
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('past') }}">Réalisé</a></li>
                            <li><a href="{{ path('actual') }}">En cours</a></li>
                            <li><a href="{{ path('future') }}">Futur</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('galerie') }}">Galeries</a></li>
                    <li><a href="{{ path('don') }}">Faire un don</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Langue
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Anglais</a></li>
                            <li><a href="#">Français</a></li>
                            <li><a href="#">Allemand</a></li>
                        </ul>
                    </li>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
            </div>
            <!--        !Bouton menu smartphone!      -->

            <!--        Image et Menu header      -->
            <a class="hidden-xs hidden-sm col-sm-1 col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1 DivImgHeader" href="{{ path("accueil") }}" > <img src="{{ asset('img/logo.png') }}"  class="imgheader"></a>
            <a style="text-decoration: none;" class=" col-xs-7 col-sm-7 hidden-md col-lg-3" href="{{ path("accueil") }}"><h1 id="TitreHeader">Aux porteurs de lumière</h1></a>
            <a class="col-xs-1 col-xs-1 hidden-md hidden-lg" href="{{ path("accueil") }}">  <img src="{{ asset('img/logo.png') }}" class="imgheader"></a>
            <nav class="hidden-xs hidden-sm col-md-10 col-lg-7" id="DivHeader" style="white-space: nowrap;">
                <ul class="nav navbar-nav" id="ListeDivHeader" >
                    <!--  <li class="active"><a href="#">Home</a></li>-->
                    <li class="dropdown">
                        <a class="dropdown-toggle MotsHeader" data-toggle="dropdown" href="#">Qui sommes nous ?
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('origines') }}">Nos origines </a></li>
                            <li><a href="{{ path('lieu') }}">Ou agissons nous ?</a></li>
                            <li><a href="{{ path('objectif') }}">Dans quel but ?</a></li>
                            <li><a href="{{ path('membres') }}">Notre équipes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle MotsHeader" data-toggle="dropdown" href="#">Nos actions
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('past') }}">Réalisé</a></li>
                            <li><a href="{{ path('actual') }}">En cours</a></li>
                            <li><a href="{{ path('future') }}">Futur</a></li>
                        </ul>
                    </li>
                    <li><a class="MotsHeader" href="{{ path('galerie') }}">Galeries</a></li>
                    <li><a class="MotsHeader" href="{{ path('admin_panel') }}">Admin</a></li>
                    <li><a id="DonHeader" class="MotsHeader" href="{{ path('don') }}">Faire un don</a></li>
                    <li><a class="MotsHeader" href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>
            <!--        !Image et Menu header!      -->
        </header>
        <div class="push"></div>        <!--        Push pour que le header ne cache rien      -->

    {% block body %}{% endblock %}      <!--       Block du contenu de la page       -->

        <div style="clear: both;"></div>        <!--       Clear       -->
    </div>

    <!--        Footer      -->
    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="Droits" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Tous droits réservé - Porteurs de lumière &copy 2017</div>
        <div id="Mentions" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <a href="link"> Mentions légales </a> </div>
    </footer>

<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('js/tether.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/MultiCaroussel.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>