<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WebStage{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {#<link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />#}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Porteur de lumière</a>

        </div>
        <ul class="nav navbar-nav">
            <!--  <li class="active"><a href="#">Home</a></li>-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Qui sommes nous ?
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Nos origines </a></li>
                    <li><a href="#">Ou agissons nous ?</a></li>
                    <li><a href="#">Dans quel but ?</a></li>
                    <li><a href="#">Notre équipes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos actions
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Réalisé</a></li>
                    <li><a href="#">En cours</a></li>
                    <li><a href="#">Pour le future</a></li>
                </ul>
            </li>
            <li><a href="#">Galeries</a></li>
            <li><a href="#">Faire un dons</a></li>
            <li><a href="#">Contact</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Langue
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Anglais</a></li>
                    <li><a href="#">Français</a></li>
                    <li><a href="#">Allemand</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}

<!----------- Footer ------------>
<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('js/tether.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>