<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WebStage{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
</head>
<body>
    <div id="container">
        <!--        Header      -->
        <header class="color-nav-perso">
            <!--        Bouton menu smartphone      -->
            <div class="col-xs-1 col-sm-1 hidden-md hidden-lg" style=" z-index: 2;">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li><a href="{{ path('description') }}">Projets réalisés</a></li>
                        <li><a href="{{ path('past') }}">Projets réalisés</a></li>
                        <li><a href="{{ path('actual') }}">Actions en cours</a></li>
                        <li><a href="{{ path('don') }}">Faire un don</a></li>
                    </ul>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
            </div>
            <!--        !Bouton menu smartphone!      -->

            <!--        Image et Menu header      -->
            <a class="hidden-xs hidden-sm col-sm-1 col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1 DivImgHeader" href="{{ path("accueil") }}" >
                <img alt="Logo" src="{{ asset('img/logo.jpg') }}"  class="imgheader">
            </a>
            <a class="hidden-xs hidden-sm col-sm-1 col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1 DivImgHeader2" href="{{ path("accueil") }}" >
                <img alt="Logo" src="{{ asset('img/logoneg.png') }}"  class="imgheader2">
            </a>

            {#<a style="text-decoration: none;" class=" col-xs-offset-1 col-xs-7 col-sm-7 col-md-offset-0 hidden-md col-lg-3" href="{{ path("accueil") }}">#}
                {#<h1 id="TitreHeader">Aux porteurs de lumière</h1>#}
            {#</a>#}

            {#<a class="col-xs-3 col-sm-1 hidden-md hidden-lg" href="{{ path("accueil") }}">#}
                {#<img alt="Logo" src="{{ asset('img/logo.png') }}" class="imgheader">#}
            {#</a>#}



            <nav class="hidden-xs hidden-sm col-md-offset-4 col-lg-offset-5 col-md-10 col-lg-7" id="DivHeader" style="white-space: nowrap;">
                <ul class="nav navbar-nav navbar" id="NavbarHeader">
                    <!--  <li class="active"><a href="#">Home</a></li>-->

                    {#<div class="dropdown">#}
                        {#<button class="dropbtn">Nos Action</button>#}
                        {#<div class="dropdown-content">#}
                            {#<a href="{{ path('past') }}">Réalisé</a>#}
                            {#<a href="{{ path('actual') }}">Réalisé</a>#}
                            {#<a href="{{ path('future') }}">Futur</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<button class="dropbtn">Nos Action</button>#}
                    {#<li class="dropdown">#}
                        {#<a class="dropdown-toggle MotsHeader" data-toggle="dropdown" href="#">Nos actions#}
                            {#<span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="{{ path('past') }}">Réalisé</a></li>#}
                            {#<li><a href="{{ path('actual') }}">Réalisé</a></li>#}
                            {#<li><a href="{{ path('future') }}">Futur</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li><a id="DonHeader" class="MotsHeader" href="{{ path('don') }}">Faire un don</a></li>#}
                    {#<li class="dropdown">#}
                        {#<a class="dropdown-toggle MotsHeader" data-toggle="dropdown" href="#">Qui sommes nous ?#}
                            {#<span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="{{ path('origines') }}">Nos origines </a></li>#}
                            {#<li><a href="{{ path('lieu') }}">Ou agissons nous ?</a></li>#}
                            {#<li><a href="{{ path('objectif') }}">Dans quel but ?</a></li>#}
                            {#<li><a href="{{ path('membres') }}">Notre équipes</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('description') }}">Qui sommes nous ?</a></li>
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('past') }}">Projets réalisés </a></li>
                    <li class="HeaderDivMot"><a class="MotsHeader" href="{{ path('actual') }}">Actions en cours</a></li>
                    <li class="HeaderDivMot"><a class="FaireDon" href="{{ path('don') }}">Faire un don</a></li>
                   {#<li><a class="MotsHeader" href="{{ path('galerie') }}">Galeries</a></li>#}
                    {#<li><a class="MotsHeader" href="{{ path('originesAdmin') }}">Admin</a></li>#}
                    {#<li><a class="MotsHeader" href="{{ path('contact') }}">Contact</a></li>#}
                </ul>
            </nav>
            <!--        !Image et Menu header!      -->
        </header>
        <!--        !header!      -->
        <div class="push"></div>        <!--        Push pour que le header ne cache rien      -->

    {% block body %}{% endblock %}      <!--       Block du contenu de la page       -->

        <div style="clear: both;"></div>        <!--       Clear       -->
    </div>

    <!--        Footer      -->
    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
        <div id="Droits" class="hidden-xs col-sm-6 col-md-6 col-lg-6">Tous droits réservé - Porteurs de lumière &copy; 2017</div>
        <div id="Mentions" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a class="footerContact" href="{{ path('contact') }}">Nous Contacter</a>|<a class="footerMention"href="link">Mentions légales </a> </div>
    </footer>

<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset ('js/tether.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/MultiCaroussel.js') }}"></script>
<script src="{{ asset ('js/parallax.js') }}"></script>
<script>
    $(function() {
//            var header = $(".color-nav-perso");
//                        var colora = $(".color-a");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 300) {
                $(".color-nav-perso").css('height', '60px');
                $(".DivImgHeader").css({
                    "height": "125px",
                    "width": "108px"
                });
                $(".DivImgHeader2").show();
                $(".DivImgHeader").hide();
                $("#DivHeader").css('margin-left', '25%');


            } else {

                $(".color-nav-perso").css('height', '80px');
                $(".DivImgHeader").css({
                    "height": "150px",
                    "width": "130px"
                });
                $(".push").css('height', '80px');
                $(".DivImgHeader2").hide();
                $(".DivImgHeader").show();
                $("#DivHeader").css('margin-left', '41.6%');
            }
        });
    });
</script>
{% block javascripts %}{% endblock %}

</body>
</html>