<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WebStage{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />
    {#<script src="https://use.fontawesome.com/9046cd088e.js"></script>#}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
</head>
<body>
<div id="container">

    <header>
        <div class="col-xs-1 hidden-sm hidden-md hidden-lg" style=" z-index: 2;">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Qui sommes nous ?
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('origines') }}">Nos origines </a></li>
                        <li><a href="{{ path('lieu') }}">Ou agissons nous ?</a></li>
                        <li><a href="{{ path('objectif') }}">Dans quel but ?</a></li>
                        <li><a href="{{ path('membres') }}">Notre équipes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos actions
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('past') }}">Réalisé</a></li>
                        <li><a href="{{ path('actual') }}">En cours</a></li>
                        <li><a href="{{ path('future') }}">Futur</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('galerie') }}">Galeries</a></li>
                <li><a href="{{ path('don') }}">Faire un don</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Langue
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Anglais</a></li>
                        <li><a href="#">Français</a></li>
                        <li><a href="#">Allemand</a></li>
                    </ul>
                </li>
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }
            </script>
        </div>

        <a class="hidden-xs col-sm-offset-1 col-sm-1 col-md-offset-1 col-md-1 col-lg-offset-1 col-lg-1" href="{{ path("accueil") }}" > <img src="{{ asset('img/logo.png') }}"  class="imgheader"></a>
        <a style="text-decoration: none;" class=" col-xs-7 hidden-sm hidden-md col-lg-3" href="{{ path("accueil") }}"><h1 id="TitreHeader">Aux porteurs de lumière</h1></a>
        <a class="col-xs-1 hidden-md hidden-sm hidden-lg" href="{{ path("accueil") }}">  <img src="{{ asset('img/logo.png') }}" class="imgheader"></a>
        <nav class="hidden-xs col-sm-10 col-md-10 col-lg-7" id="DivHeader">
            <ul class="nav navbar-nav" id="ListeDivHeader" >
                <!--  <li class="active"><a href="#">Home</a></li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle MotsHeader" data-toggle="dropdown" href="#">Qui sommes nous ?
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('origines') }}">Nos origines </a></li>
                        <li><a href="{{ path('lieu') }}">Ou agissons nous ?</a></li>
                        <li><a href="{{ path('objectif') }}">Dans quel but ?</a></li>
                        <li><a href="{{ path('membres') }}">Notre équipes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle MotsHeader" data-toggle="dropdown" href="#">Nos actions
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('past') }}">Réalisé</a></li>
                        <li><a href="{{ path('actual') }}">En cours</a></li>
                        <li><a href="{{ path('future') }}">Futur</a></li>
                    </ul>
                </li>
                <li><a class="MotsHeader" href="{{ path('galerie') }}">Galeries</a></li>
                <li><a class="MotsHeader" href="{{ path('admin_panel') }}">Admin</a></li>
                <li><a id="DonHeader" class="MotsHeader" href="{{ path('don') }}">Faire un don</a></li>
                <li><a class="MotsHeader" href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    {#{% include '::ModulesUsed/NavBar.html.twig' %}#}
    <div class="push"></div>
{% block body %}{% endblock %}

<div class="push"></div>
<div style="clear: both;"></div>
<div class="push"></div>
<div style="clear: both;"></div>

<div >

    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-4 ImgPartnerCenter"><a href="#1"><img src="{{ asset("img/partenaire.png") }}" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="#1"><img src="{{ asset("img/partenaire.png") }}" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="#1"><img src="{{ asset("img/partenaire.png") }}" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="#1"><img src="{{ asset("img/partenaire.png") }}" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="#1"><img src="{{ asset("img/partenaire.png") }}" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="#1"><img src="{{ asset("img/partenaire.png") }}" class="img-responsive"></a></div>
                    </div>
                    <!-- add  more items here -->
                    <!-- Example item start:  -->

                    <!--  Example item end -->
                </div>
                <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
    {#<img class="ImgPartner" src="{{ asset("img/partenaire.png") }}">#}
    {#<img class="ImgPartner" src="{{ asset("img/partenaire.png") }}">#}
    {#<img class="ImgPartner" src="{{ asset("img/partenaire.png") }}">#}
    {#<img class="ImgPartner" src="{{ asset("img/partenaire.png") }}">#}
    {#<img class="ImgPartner" src="{{ asset("img/partenaire.png") }}">#}
    {#<img class="ImgPartner" src="{{ asset("img/partenaire.png") }}">#}
</div>

<div class="push2"></div>

<footer>
    <div id="Droits" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Tous droits réservé - Porteurs de lumière &copy 2017</div>
    <div id="Mentions" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <a href="link"> Mentions légales </a> </div>
</footer>
</div>
<!----------- Footer ------------>
<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('js/tether.min.js') }}"></script>
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('js/MultiCaroussel.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>