{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div id="main">


        <!--        Caroussel      -->
        <div id="myCarousel" class="carousel slide col-xs-12 col-sm-12 col-md-12 col-lg-12 test7" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                {% for image in images %}
                    <li data-target="#myCarousel" data-slide-to="{{ image.ordre }}"></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner centrageD">
                <div class="item active" style="width: 100%;">
                    <img class="ImageCarousel d-block img-fluid" src="{{  asset(active.media.path) }}" alt="Los Angeles">
                    <div class="carousel-caption TextNewCaroussel">
                        <h3 class="animated fadeInLeft" style="font-size: 50px; color: white">
                           {{ active.text }}
                        </h3>
                    </div>
                    {#<div class="carousel-caption DivDonate"><p class="Donate">Donate</p></div>#}
                </div>
                {% for image in images %}
                    <div class="item" style="width: 100%;">
                        <img class="ImageCarousel d-block img-fluid" src="{{ asset(image.media.path) }}" alt="Los Angeles">
                        <div class="carousel-caption TextNewCaroussel2">
                            <h3 class="animated fadeInRight" style="font-size: 50px; color: white">
                                {{ image.text }}
                            </h3>
                      </div>
                        {#<div class="carousel-caption DivDonate"><p class="Donate">Donate</p></div>#}
                    </div>

                {% endfor %}
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: none;">
                <span class="glyphicon glyphicon-chevron-left"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: none;">
                <span class="glyphicon glyphicon-chevron-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--        !Caroussel!      -->


        <!--        About us      -->
        <a href ="{{ path('carouselAdmin') }}">modifier le Carousel</a>

            <div class="AboutUs col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_start(form1) }}
                <div class="APropos col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="" style="padding: 20px; text-align: center; margin: 0px; font-size: 38px; color: #333;">{{ form_widget(form1.nom) }}</h2>
                </div>
                <div class="col-xs-offset-2 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {{ form_widget(form1.description) }} </br>
                    {{ form_end(form1) }}
                </div>
            </div>


        <!--        !About us!      -->

        <!--        Image de qui somme nous      -->
            <section class="ImageQui col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="UneImageQui col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ form_start(form2) }}
                    <img class="ImgQui" src="{{ asset(soutien.media.path) }}">
                    <div>{{ form_widget(form2.media) }}</div>
                    <h3 style="font-size: large">{{ form_widget(form2.nom) }}</h3>
                    <p>{{ form_widget(form2.description) }}</p>
                    {{ form_end(form2) }}
                </div>

                <div class="UneImageQui col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ form_start(form3) }}
                    <img class="ImgQui" src="{{ asset(quotidient.media.path) }}">
                    <div>{{ form_widget(form3.media) }}</div>
                    <h3 style="font-size: large">{{ form_widget(form3.nom) }}</h3>
                    <p>{{ form_widget(form3.description) }}</p>
                    {{ form_end(form3) }}
                </div>

                <div class="UneImageQui col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ form_start(form4) }}
                    <img class="ImgQui" src="{{ asset(financement.media.path) }}">
                    <div>{{ form_widget(form4.media) }}</div>
                    <h3 style="font-size: large">{{ form_widget(form4.nom) }}</h3>
                    <p>{{ form_widget(form4.description) }}</p>
                    {{ form_end(form4) }}
                </div>


            </section>
        <!--        !Image de qui somme nous!      -->


            {% block javascripts %}
            {#{% for entreprise in entreprises %}#}
                {#<script type="text/javascript">#}
                    {#$(document).ready(function(){#}
                        {#$(".text{{ loop.index }}").click(function(){#}
                            {#$("#{{ loop.index }}").modal('show');#}
                        {#});#}
                    {#});#}
                {#</script>#}

                <script>
                    $('#Un').hover(mouseOver, mouseOut);
                    $('#Deux').hover(mouseOver2, mouseOut2);

                    function mouseOver()
                    {
                        $("#Qui").slideUp("slow");
                        $(this).toggleClass("enroule"); return false;
                    }
                    function mouseOut()
                    {
                        $("#Qui").slideDown("slow");
                        $(this).toggleClass("enroule"); return false;
                    }

                    function mouseOver2()
                    {
                        $("#Ou").slideUp("slow");
                        $(this).toggleClass("enroule"); return false;
                    }
                    function mouseOut2()
                    {
                        $("#Ou").slideDown("slow");
                        $(this).toggleClass("enroule"); return false;
                    }
                </script>

                {#<script>#}
{#//                    (function( $ ) {#}

                {#<script>#}
                    {#$(function() {#}
                        {#var header = $(".color-nav-perso");#}
{#//                        var colora = $(".color-a");#}
                        {#$(window).scroll(function() {#}
                            {#var scroll = $(window).scrollTop();#}

                            {#if (scroll >= 80) {#}
                                {#header.removeClass('color-nav-perso').addClass("color-nav-perso-fixe")#}
{#//                                colora.removeClass('color-a').addClass("color-a-fixe");#}
                            {#} else {#}
{#//                                colora.removeClass("color-a-fixe").addClass('color-a')#}
                                {#header.removeClass("color-nav-perso-fixe").addClass('color-nav-perso');#}
                            {#}#}
                        {#});#}
                    {#});#}
                {#</script>#}

                {#<script>#}


                        {#//Function to animate slider captions#}
                        {#function doAnimations( elems ) {#}
                            {#//Cache the animationend event in a variable#}
                            {#var animEndEv = 'webkitAnimationEnd animationend';#}

                            {#elems.each(function () {#}
                                {#var $this = $(this),#}
                                    {#$animationType = $this.data('animation');#}
                                {#$this.addClass($animationType).one(animEndEv, function () {#}
                                    {#$this.removeClass($animationType);#}
                                {#});#}
                            {#});#}
                        {#}#}

                        {#//Variables on page load#}
                        {#var $myCarousel = $('#carousel-example-generic'),#}
                            {#$firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");#}

                        {#//Initialize carousel#}
                        {#$myCarousel.carousel();#}

                        {#//Animate captions in first slide on page load#}
                        {#doAnimations($firstAnimatingElems);#}

                        {#//Pause carousel#}
                        {#$myCarousel.carousel('pause');#}


                        {#//Other slides to be animated on carousel slide event#}
                        {#$myCarousel.on('slide.bs.carousel', function (e) {#}
                            {#var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");#}
                            {#doAnimations($animatingElems);#}
                        {#});#}

                    {#})(jQuery);#}
                {#</script>#}

            {#{% endfor %}#}
                {% endblock %}
            {#{% endfor %}#}
        </div>
        <!--        !Texte HomePage!      -->
    </div>

    <!--        Rajouter une pierre a l'edifice      -->
    <div class="DivPierre col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {#<h3 class="col-xs-12 col-sm-12 col-md-12 hidden-lg" style="font-size: 275%; margin-left: 5%; margin-top: 5%;">{{ actionC.nom }}</h3>#}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 DivTextPierre">
            <h3 class="col-md-12" style="font-size: 200%; padding-left: 3%; margin-top: 5%;">{{ actionC.nom }}</h3>
            <div style="padding: 3%;">
                <p>
                <p>{{ actionC.description }}</p>
                </p>
            </div>

            <div style="display: flex; justify-content: flex-start; padding-left: 3%;">
                <button type="button" class="btn btn-primary"><a href="{{ path('actualActionModal',{'id' : actionC.id }) }}">Modifier le Projet</a></button>
            </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-6 col-lg-6 DivImgPierre">
            <img class="imgPierre" src="{{ asset(actionC.picture.path) }}">
        </div>
    </div>
    <!--        !Rajouter une pierre a l'edifice!      -->


    <!--        Faire un Don      -->
    {% render(controller('MainBundle:DefaultAdmin:bandeauAdmin')) %}
    <!--        !Faire une Don!      -->

    <!--        Votre réussite      -->
    <div class="Divimgback hidden-xs hidden-sm col-md-6 col-lg-8">
    </div>

    <div class="DivReussite col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h3 class="TitreReussite">{{ actionR.nom }}</h3>
        <p class="TexteDivReussite">{{ actionR.description[:400] }}...</p>
        <a href="{{ path('pastActionModal',{'id' : actionR.id }) }}">
            <button type="button" class="btn btn-primary">Modifier le Projet</button></a>
    </div>

{% endblock %}