{% extends "::adminLayout/layout.html.twig" %}
{% block body %}

    <div class="DivTopAction col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="DivimgbackAction brightness col-xs-12 col-sm-12 col-md-12 col-lg-12">
{{ form_start(form1) }}
            <div class="DivGaucheImgBack col-xs-12 col-sm-8 col-md-7 col-lg-8">
                <div class="TitreActionPrincipal col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="TitreBack parallax-title3 text-left" style="font-size: xx-large; padding-bottom: 1%;">  {{ form_widget(form1.nom) }}</p>
                </div>

                <div class="DescriptionActionPrincipal col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   {{ form_widget(form1.description) }}
                    <div style="height: 30px; width: 50%"></div>
                </div>
            </div>
{{ form_end(form1) }}
            {{ form_start(form2) }}
            <div class="DivDroiteImgBack hidden-xs col-sm-4 col-md-5 col-lg-4">
                <div class="NombreEtudiant col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 style="text-align: left">{{ form_widget(form2.nom) }}</h2>
                    {{ form_widget(form2.description) }}
                </div>
            </div>
            {{ form_end(form2) }}
            {#<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">lol</div>#}
            <div class="DivBoutonImgBack col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-11 col-sm-8 col-md-8 col-lg-6">
                <div class="DonatePastPrincipal hidden-xs col-sm-5 col-md-4 col-lg-3">Faire un Don</div>
                <div class="DonatePastPrincipal col-xs-12 col-sm-5 col-md-4 col-lg-3">Voir les détails</div>
            </div>

        </div>

    </div>
    <div style="height: 450px"></div>

    <div class="AllAction col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10">
        {% for action in actions %}
            <div class="DivOneAction col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="OneAction col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img  class ="pastActionImg" src="{{ asset(action.picture.path) }}">
                    <h4>{{ action.nom[:50] }}</h4>
                    <p class="DescriptionActionPast">{{ action.description[:130] }}...</p>
                    <p class="DivCout"><span class="CoutAction">{{ action.recolte }}</span>€ récolter pour un coût de <span class="CoutAction">{{ action.cout }}</span>€</p>
                    <p class="DatePast">{{ action.dateFin| date('d/m/Y') }}    -    {{ action.dateDebut| date('d/m/Y') }}</p>
                    <div class="DonatePast"><a href="{{ path('edit_actual_action',{ id : action.id}) }}"> Modifier</a></div>
                    <div class="DonatePast"><a href="{{ path('delete_actual_action',{ id : action.id}) }}"> Supprimer</a></div>
                </div>
            </div>
        {% endfor %}
        <div class="bandeauDonate">
            <a href="{{ path('new_actual_action') }}">Nouveau projet</a>
        </div>

    </div>
    {% block javascripts %}
        {% for action in actions %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $(".text{{ action.id }}").click(function(){
                        $("#{{ action.id }}").modal('show');
                    });
                });
            </script>
        {% endfor %}
        <script type="text/javascript">
            {% if id is defined %}
            {
                $(document).ready(function(){
                    $("#{{ id }}").modal('show');
                });
            }
            {% endif %}
        </script>
    {% endblock %}

{% endblock %}