{% extends "::layout/layout.html.twig" %}




{% block body %}



<div class="AllActualite col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10">

{% for actu in actus %}
    <div class="DivOneActualite col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="triangle"></div>
        <i class="{{ actu.type }} logoActualite" aria-hidden="true"></i>
        <div class="OneActualite col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img  class ="ActualiteImage" src="{{ asset(actu.media.path) }}">
            <h4 class="TitreActualite">{{ actu.titre }}</h4>
            <p class="ParActualite">Par : <span style="color: #009de0">{{ actu.auteur }}<span></span></p>
            <p class="DescriptionActualite">{{ actu.description[:300] }}
                <br>

            <a href="{{ path('edit_actu',{ id : actu.id}) }}"> <button class="DonatePast" style="margin-bottom: 2%; margin-top: 4%;"> Modifier</button></a>
            <a href="{{ path('delete_actu',{ id : actu.id}) }}"><button class="DonatePast"> Supprimer</button></a>
            </p>
        </div>
    </div>

{% endfor %}
    <div class="NewActu">
        <a style="color: gray" href="{{ path('new_actu') }}">
                <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
        </a>


    </div>
{% endblock %}