{% extends "::Adminlayout/layout.html.twig" %}
{% block body %}

<div class="push"></div>

 {{ form_start(form1) }}

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-offset-1 col-lg-4 DivFormAction" style="height: 337px;">
           <h2> Nom :   </h2>
           {{ form_widget(form1.nom) }}
       </div>
        <div class="col-xs-4 col-sm-4 col-md-4  col-lg-7 DivFormAction">
            <h2 style="margin-right: 3%;"> Description :   </h2>
           {{ form_widget(form1.description) }}
       </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-offset-1 col-lg-4 DivFormAction">
            <h2 style="margin-right: 3%;"> Date début :   </h2>
            {{ form_widget(form1.date_debut) }}
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7 DivFormAction">
            <h2 style="margin-right: 3%;"> Date fin :   </h2>
            {{ form_widget(form1.date_fin) }}
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-offset-1 col-lg-4 DivFormAction">
            <h2 style="margin-right: 3%;"> Cout :   </h2>
            {{ form_widget(form1.cout) }}€
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7 DivFormAction">
            <h2 style="margin-right: 3%;"> Récolte :   </h2>
            {{ form_widget(form1.recolte) }}€
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-offset-1 col-lg-4 DivFormAction">
            <h2 style="margin-right: 3%;"> Image :   </h2>
            {{ form_widget(form1.picture) }}
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7 DivFormAction">
            <h2 style="margin-right: 3%;"> Projet :   </h2>
            {{ form_widget(form1.type) }}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 DivFormAction">
            {{ form_widget(form1.submit) }}
        </div>

    </div>



    {{ form_end(form1) }}
{% endblock %}