{% extends "::adminLayout/layout.html.twig" %}

{% block body %}

    <div id="DivTitreContact" class="container white col-lg-12 padder-t2">
        {{ form_start(form1) }}
        <h2 id="TitreContact" class="LigneTitre"><span class="LigneSpan">   {{ form_widget(form1.nom) }}</span></h2>
    </div>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 QuiOrigine">
        <div class="col-lg-6">
            {{ form_widget(form1.description) }}
            <input type="submit" value="Modifier" />
        </div>
        <img id="ImgOrigine" class="col-xs-5 col-sm-5 col-md-5 col-lg-6" src="{{ asset("img/1.jpg") }}">

        {{ form_end(form1) }}
    </section>

    <div id="DivTitreContact" class="container white col-lg-12 padder-t2">
        {{ form_start(form2) }}
        <h2 id="TitreContact" class="LigneTitre"><span class="LigneSpan">   {{ form_widget(form2.nom) }}</span></h2>
    </div>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 QuiOrigine">
        <div class="col-lg-6">
            {{ form_widget(form2.description) }}
            <input type="submit" value="Modifier" />
        </div>
        <img id="ImgOrigine" class="col-xs-5 col-sm-5 col-md-5 col-lg-6" src="{{ asset("img/1.jpg") }}">

        {{ form_end(form2) }}
    </section>
{% endblock %}
