{% extends "::layout/layout.html.twig" %}
{% block body %}

    <!-- Contact -->
    {#<div class="container white col-lg-12 padder-t2 DivTitre">#}
        {#<h2 class="LigneTitre Titre"><span class="LigneSpan">Contact</span></h2>#}
    {#</div>#}
    <div class="container white DivContact" style="padding-left: 8%; margin-bottom: 2%;">
        <div class="APropos col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 3%;">
            <h2 class="" style="padding-bottom:10px; margin: 0px; font-size: xx-large; color: #009de0;">Contact :</h2>
        </div>
        <div class="row padder-t padder-b container white col-lg-12">
                    <!-- Form -->
                    <!-- Text input Last name -->
                    <div class="form-group ContactDiv">
                        <div class="row">
                            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 3px;">
                                <label class="control-label pull-left" ><p style="font-size: x-large;">{{ form_label(form.lastname) }}</p></label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <!-- twig: WIDGET -->
                                    {{ form_widget(form.lastname) }}
                                </div>
                            </div>
                            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label class="control-label pull-left"><p style="font-size: x-large;">{{ form_label(form.firstname) }}</p></label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <!-- twig: WIDGET -->
                                    {{ form_widget(form.firstname) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Text input First name -->
                    <form class="form-horizontal" action="{{ path('contact') }}" method="post"  {{ form_enctype(form) }} id="contact_form">
                        {{ form_start(form) }}
                        <fieldset>
                            <!-- Text input First name -->
                            {#<div class="form-group">#}
                                {#<div class="row">#}
                                    {#<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">#}
                                        {#<label class="control-label pull-left"><h4>{{ form_label(form.firstname) }}</h4></label>#}
                                    {#</div>#}
                                    {#<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 inputGroupContainer">#}
                                        {#<div class="input-group">#}
                                            {#<span class="input-group-addon"><i class="fa fa-user"></i></span>#}
                                            {#<!-- twig: WIDGET -->#}
                                            {#{{ form_widget(form.firstname) }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            <!-- Text input Email -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="control-label pull-left"><p style="font-size: x-large;">{{ form_label(form.email) }}</p></label>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <!-- twig: WIDGET -->
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="control-label pull-left"><p style="font-size: x-large;">{{ form_label(form.phone) }}</p></label>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 inputGroupContainer" style="padding-left: 10px;">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                            {{ form_widget(form.phone) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            {#<div class="form-group">#}
                                {#<div class="row">#}
                                    {#<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">#}
                                        {#<label class="control-label pull-left"><h4>{{ form_label(form.phone) }}</h4></label>#}
                                    {#</div>#}
                                    {#<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 inputGroupContainer">#}
                                        {#<div class="input-group">#}
                                            {#<span class="input-group-addon"><i class="fa fa-phone"></i></span>#}
                                            {#{{ form_widget(form.phone) }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            <!-- Text area -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="control-label pull-left"><p style="font-size: x-large;">{{ form_label(form.message) }}</p></label>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-5 inputGroupContainer">
                                        <div id="MessageContact" class="input-group">
                                            {{ form_widget(form.message) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 5%">
                                <div class="row">
                                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"></label>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
        </div>
        <div class="row padder-b">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-9 col-sm-9 col-md-9 col-lg-9" style="font-family: Verdana; margin-bottom: 3%;">Contactez nous directement:</h4>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2 padder-lr" style="font-family: Verdana; font-size: x-large; font-weight: bold;">Mail:</p>
                <p class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-6 col-sm-6 col-md-6 col-lg-6 padder-lr"style="font-family: Verdana;" id="adress">aporteurlumiere@gmail.com</p>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-3 col-sm-2 col-md-2 col-lg-2 padder-lr" style="font-family: Verdana; font-size: x-large; font-weight: bold;">Adresse:</p>
                <p class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-6 col-sm-6 col-md-6 col-lg-6 padder-lr"style="font-family: Verdana;" id="adress">12, rue des cerisiers - 67117 FURDENHEIM</p>

            </div>
        </div>
    </div>

{% endblock %}

