{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container white">
        <div class="row">
            <div class="container white percent100 padder-b2">
                <div class="col-lg-12">
                    <div class="float-right">
                        <a href="{{ path('dlmedia') }}">
                            <button id="downloadall" class="btn btn-danger raised" type="submit">Download All</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% for medium in media %}
            <tr>
                <td><a href="{{ path('admin_media_show', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                <td>{{ medium.url }}</td>
                <td>{{ medium.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_media_show', { 'id': medium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_media_edit', { 'id': medium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('admin_media_new') }}">Create a new medium</a>
        </li>
    </ul>
{% endblock %}
