{% extends "::layout/layout.html.twig" %}
{% block body %}
    <div id="DivTitreContact" class="container white col-lg-12 padder-t2">
        <h2 id="TitreContact" class="LigneTitre"><span class="LigneSpan">Action en cours</span></h2>
    </div>

    {% for action in actions %}
        <div id="DivTitreContact" class="container white col-lg-12 padder-t2">
            <h2 id="TitreContact" class="LigneTitre"><span class="LigneSpan">Action en cours</span></h2>
        </div>
        <p>{{ action.nom }}</p>
        <p>{{ action.description }}</p>
        <p>{{ action.dateDebut| date() }}</p>
        <p>{{ action.dateFin| date() }}</p>
        <p>{{ action.cout }}</p>
        <p>{{ action.recolte }}</p>
        <p>{{ action.type }}</p>
    {% endfor %}


{% endblock %}