{% extends "::layout/layout.html.twig" %}
{% block body %}
        <div class="container white col-lg-12 padder-t2 DivTitre">
            <h2 class="LigneTitre Titre"><span class="LigneSpan">Action réalisé</span></h2>
        </div>
        {% for action in actions %}
            <section class="col-lg-4 ActionRealise">
                <div class="pastAction">
                        {#<img  class ="pastActionImg" src="{{ asset(action.media.path) }}">#}
                    <h4 class="TitreAction">{{ action.nom[:50] }}</h4>
                    <p class="DateAction">{{ action.dateDebut| date() }}</p>
                    <p class="DescriptionAction">{{ action.description[:150] }}...</p>
                    <p class="Titre LigneTitre LirePlusAction" style="padding: 10px"><span class="LigneSpan">Lire plus</span> </p>

                    {#<p>{{ action.dateFin| date() }}</p>#}
                    {#<p>{{ action.cout }}</p>#}
                    {#<p>{{ action.recolte }}</p>#}
                    {#<p>{{ action.type }}</p>#}
                </div>
            </section>
            {% if not action.media.empty %}
                <p>
                    {#{% for media in action.media %}#}
                   {#<img src="{{ asset(media.path) }}"> {% if not loop.last %}, {% endif %}#}
                    {#{% endfor %}#}
                </p>
            {% endif %}
        {% endfor %}


{% endblock %}

