{% extends "::layout/layout.html.twig" %}
{% block body %}


<div class="push"></div>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="DivimgbackActionPast col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="background-image: url({{asset(description.media.path)}});">
    </div>
    <h2>{{ description.nom }}</h2>
</div>
    <div style="height: 100px"></div>

    <div class="AllAction col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-10">
        {% for action in actions %}
    <div class="DivOneAction col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="OneAction col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img  class ="pastActionImg" src="{{ asset(action.picture.path) }}">
                    <h4>{{ action.nom[:50] }}</h4>
                    <p class="DescriptionActionPast">{{ action.description[:130]|raw }}...</p>
                    <p class="DivCout">Un coût de <span class="CoutAction">{{ action.cout }}</span>€</p>
                    <p class="DatePast">{{ action.dateDebut| date('d/m/Y') }}    -    {{ action.dateFin| date('d/m/Y') }}</p>
                    <div class="DonatePast text{{ action.id }}">Voir l'action</div>
                </div>
    </div>

            {#<!-- Modal -->                                                          aria-labelledby="exampleModalLabel"#}
            <div class="modal fade" id="{{ action.id }}" tabindex="-1" role="dialog" aria-hidden="true" >
                <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
                    <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
                </button>

                <div class="modal-dialog ModalAction" role="document">
                    <div class="ImageActionModal hidden-xs">
                       <img class="ImageHautActionModal" src="{{ asset(action.picture.path) }}">
                    </div>
                    <div class="modal-content">
                        <div class="modal-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3 class="Titre TitreModal"><span>{{ action.nom}}</span></h3>
                        </div>
                        <div class="modal-body TextModalHomepage">
                            {#<div class="DateActionModal">#}
                                {#Du : <span style="text-decoration: underline;">{{ action.dateDebut| date('d/m/Y') }}</span>   Au : <span style="text-decoration: underline;">{{ action.dateFin| date('d/m/Y') }}</span>#}
                            {#</div>#}
                            <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
                                <h2 class="parallax-titleModalAction text-left" style="padding-bottom: 10px; padding-left: 10%; margin: 0px; color: #333;">Description du projet :</h2>
                            </div>
                            <div>
                                <p style="text-align: left; margin-left: 10%; margin-right: 10%;">{{ action.description|raw }}</p>
                            </div>
                            <div class="CoutActionModal">
                                <span>Projet financé intégralement, coût : {{ action.cout }}</span>
                                {#<span>Argent récolté : {{ action.recolte }}</span>#}
                            </div>
                        </div>
                        <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
                            <h2 class="parallax-titleModalAction text-left" style="padding-bottom: 10px; padding-left: 10%; margin: 0px; color: #333;">Le projet en image :</h2>
                        </div>
                        <div class="row CarouselModalAction">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div id="myCarousel" class="carousel slide col-xs-12 col-sm-12 col-md-12 col-lg-12 test7" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        {% if not action.media.empty %}
                                        {% for media in action.media %}
                                            <li data-target="#myCarousel" data-slide-to="{{ action.id }}"></li>
                                        {% endfor %}
                                        {% endif %}
                                    </ol>

                                    <!-- Wrapper for slides -->

                                    <div class="carousel-inner centrageD">
                                        <div class="item active" style="width: 100%;">
                                            <img class="ImageActionCarouselModal d-block img-fluid" src="{{ asset(action.picture.path) }}" alt="Los Angeles">
                                        </div>
                                        {% if not action.media.empty %}
                                            {% for media in action.media %}
                                                <div class="item" style="width: 100%;">
                                                    <img  class="ImageActionCarouselModal d-block img-fluid" src="{{ asset(media.path) }}">
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: none;">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: none;">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !Modal! -->


        {% endfor %}
    </div>

    {% block javascripts %}
        {% for action in actions %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $(".text{{ action.id }}").click(function(){
                        $("#{{ action.id }}").modal('show');
                    });
                });
            </script>
        {% endfor %}
        <script type="text/javascript">
            {% if id is defined %}
            {
                $(document).ready(function(){
                    $("#{{ id }}").modal('show');
                });
            }
            {% endif %}
        </script>
    {% endblock %}
{% endblock %}