{% extends "::layout/layout.html.twig" %}
{% block body %}

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sectionDescription">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%">
        {#<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 textDescription">#}
            {#<div class="APropos">#}
                {#<h2 class="parallax-title text-left" style="padding: 20px; text-align: center; margin: 0px; font-size: 48px; color: #333;">Notre histoire</h2>#}
            {#</div>#}
            {#<h2 style="margin-bottom: 3%">Notre histoire</h2>#}
            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
        {#</div>#}
        <div class="textDescription col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="parallax-title text-left" style="padding: 20px; padding-left: 10%; margin: 0px; font-size: 48px; color: #333;">{{ histoire.nom }}</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4%;">
                <p>{{ histoire.description }}</p>
            </div>
        </div>

        <div class="DivimgbackDescription col-xs-5 col-sm-5 col-md-5 col-lg-5">
        </div>
    </div>





    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divTextDescription">#}
        {#<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 textDescription">#}
            {#<h2>Notre histoire</h2>#}
            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
        {#</div>#}
        {#<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">#}
            {#<img src="{{ asset('img/2.jpg') }}" class="imageDescription">#}
        {#</div>#}
    {#</div>#}


    <!--        Texte HomePage      -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;background-color: #f3f3f3; margin-bottom: 2%;">

        <div style="display: flex; justify-content: space-around;">

            <div class="All col-xs-3 col-sm-3 col-md-3 col-lg-3" id="Un">
                <div id="Qui" class="bjr" style=" background-color : #f3f3f3; position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="parallax-title2 text-left" style="margin-top: 10%; font-size: xx-large;">{{ volonte.nom }}</p>
                    </div>
                    {#<h2 class="parallax-title text-left" style="padding: 20px; padding-left: 10%; margin: 0px; font-size: 48px; color: #333;">Notre histoire</h2>#}
                </div>
                <div class="bye text9">
                    <p style="font-size: x-large;">{{ volonte.nom }}</p>
                    <div class="bye2">
                        <p>{{ volonte.description[:150]}}</p>

                    </div>
                    <p class="text1 Lireplus">Lire plus...</p>
                </div>
            </div>
            <div class="All col-xs-3 col-sm-3 col-md-3 col-lg-3" id="Deux">
                <div id="Ou" class="bjr" style="background-color : #f3f3f3; position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="parallax-title2 text-left" style="margin-top: 10%; font-size: xx-large;">{{ valeur.nom }}</p>
                    </div>
                </div>
                <div class="bye" style="">
                    <p style="font-size: x-large;">{{ valeur.nom }}</p>
                    <div class="bye2">
                        <p>{{ valeur.description[:150]}}</p>
                    </div>
                <p class="text2 Lireplus">Lire plus...</p>
                </div>
            </div>
            <div class="All col-xs-3 col-sm-3 col-md-3 col-lg-3" id="Trois">
                <div id="But" class="bjr" style="background-color : #f4f4f4; position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="parallax-title2 text-left" style="margin-top: 10%; font-size: xx-large;">{{ but.nom }}</p>
                    </div>
                </div>
                <div class="bye" style="">
                    <p style="font-size: x-large;">{{ but.nom }}</p>
                    <div class="bye2">
                        <p>{{ but.description[:150]}}</p>
                    </div>
                    <p class="text3 Lireplus">Lire plus...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="modal-content">
                {#<div class="modal-header col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                {#<h3 class=""><span>{{ volonte.nom}}</span></h3>#}
                {#</div>#}
                <div class="APropos col-xs-11 col-sm-11 col-md-11 col-lg-offset-1 col-lg-11">
                    <h2 class="parallax-title2 text-left" style="padding: 20px;margin: 0px; font-size: 48px; color: #333;">{{ volonte.nom}}</h2>
                </div>
                <div class="modal-body" style="margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">
                    {{ volonte.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="2" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="modal-content">
                {#<div class="modal-header col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                {#<h3 class=""><span>{{ volonte.nom}}</span></h3>#}
                {#</div>#}
                <div class="APropos col-xs-11 col-sm-11 col-md-11 col-lg-offset-1 col-lg-11">
                    <h2 class="parallax-title2 text-left" style="padding: 20px;margin: 0px; font-size: 48px; color: #333;">{{ valeur.nom}}</h2>
                </div>
                <div class="modal-body" style="margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">
                    {{ valeur.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="3" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="modal-content">
                {#<div class="modal-header col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
                {#<h3 class=""><span>{{ volonte.nom}}</span></h3>#}
                {#</div>#}
                <div class="APropos col-xs-11 col-sm-11 col-md-11 col-lg-offset-1 col-lg-11">
                    <h2 class="parallax-title2 text-left" style="padding: 20px;margin: 0px; font-size: 48px; color: #333;">{{ but.nom}}</h2>
                </div>
                <div class="modal-body" style="margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">
                    {{ but.description }}
                </div>
            </div>
        </div>
    </div>






    {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divTextMoreDescription">#}
    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 descriptionMore">#}
    {#<i class="fa fa-globe fa-5x" aria-hidden="true"></i>#}
    {#<h3>Nos volonté</h3>#}
    {#<p>Notre volonté est de permettre à cette jeunesse plein de promesse, triplement déracinée, d’abord de Mossoul vers la vallée de Ninive, puis de là vers le nord Kurdistan, souvent à Erbil, dans des camps, et enfin de là-bas, séparés de leurs familles vers Kirkuk afin de poursuivre leurs études et pourvoir devenir les cadres de l’Irak de demain. Bref, dès aujourd’hui se préparer pour construire l’après Daech.</p>#}
    {#</div>#}
    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 descriptionMore">#}
    {#<i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>#}
    {#<h3>Nos valeurs</h3>#}
    {#<p>Notre association se donne pour mission de lever des fonds dans une démarche chrétienne éthique et oblative afin de financer les actions et projets humanitaires de Mgr Yousif Thomas Mirkis en Irak: Pas de frais généraux, pas de charges de publicité, de secrétariat. Notre action est le fruit d’un engagement où chaque membre prend à sa charge ses frais. La conséquence est immédiate : 1 euro collecté = 1 euro en faveur de l’Irak.</p>#}
    {#</div>#}
    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 descriptionMore">#}
    {#<i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>#}
    {#<h3>Notre but</h3>#}
    {#<p>Notre volonté est de permettre à cette jeunesse plein de promesse, triplement déracinée, d’abord de Mossoul vers la vallée de Ninive, puis de là vers le nord Kurdistan, souvent à Erbil, dans des camps, et enfin de là-bas, séparés de leurs familles vers Kirkuk afin de poursuivre leurs études et pourvoir devenir les cadres de l’Irak de demain.  Bref, dès aujourd’hui se préparer pour construire l’après Daech.</p>#}
    {#</div>#}
    {#</div>#}

    {% render(controller('MainBundle:Default:bandeau')) %}

    <div class="DivPierre col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 DivImgPierre">
            <img class="imgPierre" src="{{ asset("img/irakLast.png") }}">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 DivTextPierre">

            <h3 style="font-size: xx-large; margin-left: 5%; margin-top: 5%;">La carte de l'irak</h3>
            <div id="text-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li  data-target="#text-carousel" data-slide-to="0" class="active IndicateurPierreCaroussel"></li>
                    <li class="IndicateurPierreCaroussel" data-target="#text-carousel" data-slide-to="1"></li>
                    <li class="IndicateurPierreCaroussel" data-target="#text-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="row" style="padding-left: 5%; padding-right: 5%">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas
                                        harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?
                                        Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus
                                        quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas
                                        harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?
                                        Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus
                                        quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas
                                        harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?
                                        Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus
                                        quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#<!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">#}
                {#<span class="glyphicon glyphicon-chevron-left"></span>#}
                {#</a>#}
                {#<a class="right carousel-control" href="#text-carousel" data-slide="next">#}
                {#<span class="glyphicon glyphicon-chevron-right"></span>#}
                {#</a>#}
            </div>

        </div>


    </div>
</section>

    {% block javascripts %}
            <script>
                $('#Un').hover(mouseOver, mouseOut);
                $('#Deux').hover(mouseOver2, mouseOut2);
                $('#Trois').hover(mouseOver3, mouseOut3);

                function mouseOver()
                {
                    $("#Qui").slideUp("1000");
                    $(this).toggleClass("enroule"); return false;
                }
                function mouseOut()
                {
                    $("#Qui").slideDown("1000");
                    $(this).toggleClass("enroule"); return false;
                }

                function mouseOver2()
                {
                    $("#Ou").slideUp("1000");
                    $(this).toggleClass("enroule"); return false;
                }
                function mouseOut2()
                {
                    $("#Ou").slideDown("1000");
                    $(this).toggleClass("enroule"); return false;
                }

                function mouseOver3()
                {
                    $("#But").slideUp("1000");
                    $(this).toggleClass("enroule"); return false;
                }
                function mouseOut3()
                {
                    $("#But").slideDown("1000");
                    $(this).toggleClass("enroule"); return false;
                }
            </script>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".text1").click(function(){
                            $("#1").modal('show');
                        });
                        $(".text2").click(function(){
                            $("#2").modal('show');
                        });
                        $(".text3").click(function(){
                            $("#3").modal('show');
                        });
                    });
                </script>
    {% endblock %}
{% endblock %}
{#class="col-xs-12 col-sm-12 col-md-12 col-lg-12"#}