{% extends "::layout/layout.html.twig" %}
{% block body %}

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sectionDescription">



    <!--        Histoire      -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%">

        <div class="textDescription col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="parallax-title2 text-left" style="padding: 20px; padding-left: 0px; margin: 0px; font-size: 48px; color: #333;">{{ histoire.nom }}</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4%;">
                <p>{{ histoire.description }}</p>
            </div>
        </div>

        <div class="DivimgbackDescription hidden-xs hidden-sm col-md-5 col-lg-5">
        </div>
    </div>
    <!--        !Histoire      -->


    <!--        Nos volonté, nos valeurs, notre but      -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;background-color: #f3f3f3; margin-bottom: 2%;">

        <div class="DivAll">

            <div class="All col-xs-3 col-sm-3 col-md-3 col-lg-3" id="Un">
                <div id="Qui" class="bjr text1" style=" background-color : #f3f3f3; position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="parallax-title2 text-left" style="margin-top: 10%; font-size: xx-large;">{{ volonte.nom }}</p>
                    </div>
                </div>

            </div>
            <div class="All col-xs-3 col-sm-3 col-md-3 col-lg-3" id="Deux">
                <div id="Ou" class="text2 bjr" style="background-color : #f3f3f3; position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="parallax-title2 text-left" style="margin-top: 10%; font-size: xx-large;">{{ valeur.nom }}</p>
                    </div>
                </div>
            </div>
            <div class="All col-xs-3 col-sm-3 col-md-3 col-lg-3" id="Trois">
                <div id="But" class="bjr text3" style="background-color : #f4f4f4; position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
                    <div class="APropos col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="parallax-title2 text-left" style="margin-top: 10%; font-size: xx-large;">{{ but.nom }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--        !Modal!      -->
    <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="modal-content">
                <div class="APropos col-xs-11 col-sm-11 col-md-11 col-lg-offset-1 col-lg-11" style="padding-left: 0px;">
                    <h2 class="hidden-xs parallax-title2 text-left" style="padding: 20px; padding-left: 0px; margin: 0px; font-size: 48px; color: #333;">{{ volonte.nom}}</h2>
                    <h2 class="hidden-sm hidden-md hidden-lg TitreModal2" style="">{{ volonte.nom}}</h2>
                </div>
                <div class="modal-body" style="margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">
                    {{ volonte.description }}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="2" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="modal-content">
                <div class="APropos col-xs-11 col-sm-11 col-md-11 col-lg-offset-1 col-lg-11" style="padding-left: 0px;">
                    <h2 class="hidden-xs parallax-title2 text-left" style="padding: 20px; padding-left: 0px; margin: 0px; font-size: 48px; color: #333;">{{ valeur.nom}}</h2>
                    <h2 class="hidden-sm hidden-md hidden-lg TitreModal2" style="">{{ valeur.nom}}</h2>
                </div>
                <div class="modal-body" style="margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">
                    {{ valeur.description }}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="3" tabindex="-1" role="dialog" aria-hidden="true" >
        <button type="button" class="close modalTextHomepage" data-dismiss="modal" aria-label="Close">
            <span class="Retour" aria-hidden="true"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</span>
        </button>

        <div class="modal-dialog ModalAction" role="document">
            <div class="modal-content">
                <div class="APropos col-xs-11 col-sm-11 col-md-11 col-lg-offset-1 col-lg-11" style="padding-left: 0px;">
                    <h2 class="hidden-xs parallax-title2 text-left" style="padding: 20px; padding-left: 0px; margin: 0px; font-size: 48px; color: #333;">{{ but.nom}}</h2>
                    <h2 class="hidden-sm hidden-md hidden-lg TitreModal2" style="">{{ but.nom}}</h2>
                </div>
                <div class="modal-body" style="margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">
                    {{ but.description }}
                </div>
            </div>
        </div>
    </div>
        <!--        !Modal!      -->

    <!--        Nos volonté, nos valeurs, notre but      -->
    {% render(controller('MainBundle:Default:bandeau')) %}

    <div class="DivCarte hidden-xs col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 DivImgCarte">
            <img class="imgCarte" src="{{ asset(irak1.media.path) }}">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 DivTextPierre">


            <h3 style="font-size: xx-large; padding-left: 36px; margin-top: 5%;"> <p>{{ irak1.nom }}</p></h3>
            <div id="text-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li  data-target="#text-carousel" data-slide-to="0" class="active IndicateurPierreCaroussel"></li>
                    <li class="IndicateurPierreCaroussel" data-target="#text-carousel" data-slide-to="1"></li>
                    <li class="IndicateurPierreCaroussel" data-target="#text-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="row" style="padding-right: 5%; height: 200px;">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <p>{{ irak1.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>{{ irak2.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>{{ irak3.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="DivCarte col-xs-12 hidden-sm hidden-md hidden-lg">
        <h3 style="font-size: xx-large; margin-left: 5%; margin-top: 5%;"> <p>{{ irak1.nom }}</p></h3>
        <div class="col-xs-12 DivImgCarte">
            <img class="imgCarte" src="{{ asset(irak1.media.path) }}">
        </div>
        <div class="col-xs-12 DivTextPierre">
            <div id="text-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li  data-target="#text-carousel" data-slide-to="0" class="active IndicateurPierreCaroussel"></li>
                    <li class="IndicateurPierreCaroussel" data-target="#text-carousel" data-slide-to="1"></li>
                    <li class="IndicateurPierreCaroussel" data-target="#text-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="row" style="padding-left: 5%; padding-right: 5%; height: 200px;">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <p>{{ irak1.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>{{ irak2.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>{{ irak3.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

    {% block javascripts %}
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".text1").click(function(){
                            $("#1").modal('show');
                        });
                        $(".text2").click(function(){
                            $("#2").modal('show');
                        });
                        $(".text3").click(function(){
                            $("#3").modal('show');
                        });
                    });
                </script>
    {% endblock %}
{% endblock %}
