{% extends "::layout/layout.html.twig" %}
{% block body %}
{% set t = 0 %}
    {% for membre in membres %}
        {%  if t == 0 %}
            <section  class="Membres col-xs-12 col-sm-12 col-md-12 col-lg-10">
                <figure class="col-xs-2 col-sm-2 col-md-2 col-lg-2 DescriptionMembre">
                    <img src="{{ asset(membre.media.path) }}" >
                    <figcaption id="DescriptionPhotoMembres">
                        <p>{{ membre.nom }} {{ membre.prenom }}</p>
                    </figcaption>
                </figure>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
                    {{ membre.description }}
                </div>
            </section>
            {% set t = 1 %}
        {% else %}
            <section class="Membres2 col-xs-12 col-sm-12 col-md-12 col-lg-10">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7 DescriptionMembre2">
                    {{ membre.description }}
                </div>
                <figure class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="{{ asset(membre.media.path) }}" >
                    <figcaption id="DescriptionPhotoMembres">
                        <p>{{ membre.nom }} {{ membre.prenom }}</p>
                    </figcaption>
                </figure>
            </section>
            {% set t = 0 %}
        {% endif %}
    {% endfor %}
{% endblock %}





