{% extends "::layout/layout.html.twig" %}
{% block body %}
    <div class="col-lg-12 DivTitre">
        <h2 class="LigneTitre Titre"><span class="LigneSpan">Membres de l'association</span></h2>
    </div>
{% set t = 0 %}
    {% for membre in membres %}
        {%  if t == 0 %}
            <section  class="Membres col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <figure class="col-xs-12 col-sm-12 col-md-2 col-lg-2 DescriptionMembre">
                    <img class="ImgMembres" src="{{ asset(membre.media.path) }}" >
                    <figcaption class="DescriptionPhotoMembres">
                        <h6>{{ membre.nom }} {{ membre.prenom }}</h6>
                    </figcaption>
                </figure>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 DescriptionMembre">
                    {{ membre.description }}
                </div>
            </section>
            {% set t = 1 %}
        {% else %}
            <section class="Membres2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <figure class="col-xs-12 col-sm-12 col-md-2 col-lg-2 figure1">
                    <img class="ImgMembres" src="{{ asset(membre.media.path) }}" >
                    <figcaption class="DescriptionPhotoMembres">
                        <h6>{{ membre.nom }} {{ membre.prenom }}</h6>
                    </figcaption>
                </figure>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 DescriptionMembre2">
                    {{ membre.description }}
                </div>
                <figure class="col-xs-12 col-sm-12 col-md-2 col-lg-2 figure2">
                    <img class="ImgMembres" src="{{ asset(membre.media.path) }}" >
                    <figcaption class="DescriptionPhotoMembres">
                        <h6>{{ membre.nom }} {{ membre.prenom }}</h6>
                    </figcaption>
                </figure>
            </section>
            {% set t = 0 %}
        {% endif %}
    {% endfor %}
{% endblock %}





