{% extends "::layout/layout.html.twig" %}
{% block body %}

    {% for origine in origines %}
        {% if origine.media is not null %}
            <div class="container white col-lg-12 padder-t2 DivTitre">
                <h2 class="Titre LigneTitre"><span class="LigneSpan">{{ origine.nom  }}</span></h2>
            </div>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 QuiOrigine">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 Description">
                <p>{{ origine.description }}</p>
            </div>
                <img class="col-xs-5 col-sm-5 col-md-5 col-lg-6 ImgOrigine" src="{{ asset(origine.media.path) }}">
        </section>

        {% else %}
        <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 QuiOrigine2">
            <div class="container white col-xs-12 col-sm-12 col-md-12 col-lg-12 padder-t2 DivTitre">
                <h2 class="Titre LigneTitre"><span class="LigneSpan">{{ origine.nom  }}</span></h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Description">
                <p>{{ origine.description }}</p>
            </div>
        </section>
        {% endif %}
    {% endfor %}
{% endblock %}